%size-one {
    font-weight: 400;
    font-size: 0.707em;
}

%size-two {
    font-weight: 300;
    font-size: 1em;
}

%size-three {
    font-weight: 300;
    font-size: 1.414em;
}

%size-four {
    font-weight: 400;
    font-size: 1.999em;
}

%size-five {
    font-weight: 400;
    font-size: 2.827em;
}

%size-six {
    font-weight: 400;
    font-size: 3.998em;
}

//? BOLD FONT SIZES HERE

%size-bold-one {
    font-weight: 600;
    font-size: 0.707em;
}

%size-bold-two {
    font-weight: 500;
    font-size: 1em;
}

%size-bold-three {
    font-weight: 500;
    font-size: 1.414em;
}

%size-bold-four {
    font-weight: 500;
    font-size: 1.999em;
}

%size-bold-five {
    font-weight: 500;
    font-size: 2.827em;
}

%size-bold-six {
    font-weight: 500;
    font-size: 3.998em;
}