@import './variables';
@import './extends';

.p-input {
    background-color: transparent;
    border: solid 1px #5351C0;
    border-radius: $base * 1px;
    padding: $base * 1px;
    width: 100%;
    outline: none;
    @extend %size-two; 
    &::placeholder {
        color: #B0B0B0;
    }

    &.dark {
        color: white;
    }

}

.input-box {
    // width: 100%;
    margin: $base * 2px;
    label {
        width: 100%;
        margin: $base * 1px 0;
        display: block;
        span {
            color: red;
        }
    }

    .input-error {
        color: red;
        margin: $base * 1px 0;
    }

}

textarea {
    resize: vertical;
}