@mixin m-mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin m-xl {
    @media only screen and (max-width: 1140px) {
        @content;
    }
}

@mixin m-xxl {
    @media only screen and (max-width: 1320px) {
        @content;
    }
}

@mixin m-lg {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

@mixin m-lg {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

/* 
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
); */