@import 'extends';

@mixin m-mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin m-xl {
    @media only screen and (max-width: 1140px) {
        @content;
    }
}

@mixin m-xxl {
    @media only screen and (max-width: 1320px) {
        @content;
    }
}

@mixin m-lg {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

@mixin m-lg {
    @media only screen and (max-width: 960px) {
        @content;
    }
}

@mixin size-two {
    font-weight: 300;
    font-size: 1em;
}

@mixin size-bold-two {
    font-weight: 500;
    font-size: 1em;
}


@mixin font-xl-three-mobile-two {

    font-weight: 300;
    font-size: 1.414em;

    @include m-mobile {
        @include size-two();
    }

}

@mixin font-bold-xl-three-mobile-two {

    font-weight: 500;
    font-size: 1.414em;

    @include m-mobile {
        @include size-bold-two();
    }

}

@mixin white-weight {
    font-weight: 200;
    color: white;
}

/* 
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
); */