$base: 8;
$color-primary: #5351C0;
$color-secundary: #646397;
$color-dark: #1F1F1F;
$color-border: #A3ACFE;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);