@import '../styles/variables';
@import '../styles/mixins';

.container-project {
    padding: {
        left: $base * 6px;
        right: $base * 6px;

    }
}

.project-info {
    padding: $base * 1px $base * 3px;
    align-items: center;
    display: flex;
    flex-direction: column;

    .btn-primary {
        margin: {
            left: $base * 0.5px;
            right: $base * 0.5px;
        }
    }

    .buttons-projects {
        @include m-xl {
            flex-wrap: wrap;
            .btn-primary {
                margin: $base * 0.5px;
            }
        }
    }
}