@import '../styles/variables';

.container-project {
    padding: {
        left: $base * 6px;
        right: $base * 6px;

    }
}

.project-info {
    padding: $base * 1px $base * 3px;
    align-items: center;
    display: flex;
    flex-direction: column;

    .btn-primary {
        margin: {
            left: $base * 0.5px;
            right: $base * 0.5px;
        }
    }
}