@import '../../../styles/variables';
@import '../../../styles/mixins';

.areas-technologies {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: $color-primary;
    }
    .areas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $base * 2px;
        width: fit-content;
        margin: 16px auto;

        @include m-mobile {
            grid-template-columns: repeat(1, 1fr);
        }

        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // border-radius: $base * 2px;
        // margin: $base * 2px;
        // padding: 16px;

        &.dark {
            .card-area {
                box-shadow: 0px 0px 2px rgb(255 255 255 / 25%);
            }
        }

        &.light {
            .card-area {
                box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
            }
        }
    }
}