@import '../../../styles/variables';

.card-area {
    padding: 16px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    img {
        width: 200px;
        height: 200px;
    }

    ul {
        height: 100%;
        margin: 16px auto;
        list-style-type: none;
        li {
            padding: $base - 4px;
        }
    }
}